.user {
    .display-question {
        text-align: center;
        margin: revert;
        font-weight: bolder;
    }

    .field {
        
        width: 60%;
        margin: 0 auto;
    }

    .button {
        margin-top: 10px;
        float: right;
    }
} 