.host {
    .field{
        width: 60%;
        margin: 0 auto;
        
        .label{
            text-align: left;
        }
    }

    .button{
        margin-top:10px;
        float: right;
    }
}

